---

# -------------------------------------------------------------------------------------------------
# Job Name
# -------------------------------------------------------------------------------------------------
name: params for schedule EOL


# -------------------------------------------------------------------------------------------------
# Custom Variables
# -------------------------------------------------------------------------------------------------
env:
  VERSIONS: >
    [
      {
        "NAME":    "PHP",
        "VERSION": ["5.6", "7.0", "7.1", "7.2", "7.3", "7.4", "8.0"],
        "FLAVOUR": ["default"],
        "ARCH":    ["linux/amd64", "linux/arm64"]
      }
    ]
  REFS: >
    {
        "DEFAULT_BRANCH": ${{ format('"{0}"', github.event.repository.default_branch) }},
        "BRANCHES": ${{ github.event_name == 'schedule' && github.event.schedule != '0 2 * * 3' && format('"{0}"', github.event.repository.default_branch) || format('{0}', '""') }},
        "NUM_LATEST_TAGS": ${{ format('{0}', github.event_name == 'schedule' && github.event.schedule == '0 2 * * 3' && 1 || 0) }}
    }


# -------------------------------------------------------------------------------------------------
# When to run
# -------------------------------------------------------------------------------------------------
on:
  workflow_call:
    ###
    ### OUTPUTS
    ###
    outputs:
      versions:
        description: "JSON string for versions. Use via: fromJson(needs.params.versions)"
        value: ${{ jobs.params.outputs.versions }}
      refs:
        description: "JSON string for refs. Use via: fromJson(needs.params.refs)"
        value: ${{ jobs.params.outputs.refs }}

jobs:
  params:
    runs-on: ubuntu-latest

    outputs:
      versions: ${{ steps.set-versions.outputs.versions }}
      refs: ${{ steps.set-refs.outputs.refs }}

    steps:
      - name: "[Set-Output] jsonify VERSIONS"
        id: set-versions
        run: |
          VERSIONS="$( echo '${{ env.VERSIONS }}' | jq -M -c )"
          echo "versions=${VERSIONS}" >> $GITHUB_OUTPUT

      - name: "[Set-Output] jsonify REFS"
        id: set-refs
        run: |
          REFS="$( echo '${{ env.REFS }}' | jq -M -c )"
          echo "refs=${REFS}" >> $GITHUB_OUTPUT
